.clouds h1 {
  font-size:20px;
  color: #0A136B;
  letter-spacing: 1px;
  line-height: 150%;
}

.clouds h2 {
  font-size: 16px;
  color: #707072;
  letter-spacing: 1px;
  line-height: 150%;
}

.clouds-description {
  padding-left: 3vw;
}

.clouds td {
  border-top: 0px !important;
}

.text_in {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.text_title {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

text.hover {
  fill: #ffffff !important;
}

rect.hover {
  fill: #0B1270 !important;
}
