.clouds h1 {
  font-size:20px;
  color: #0A136B;
  letter-spacing: 1px;
  line-height: 150%;
}

.clouds h2 {
  font-size: 16px;
  color: #707072;
  letter-spacing: 1px;
  line-height: 150%;
}

.clouds-description {
  padding-left: 7vw;
}
