.download {
  font-size: 20px !important;
  background-color: #0097FF !important;
  border-color: #0097FF !important;
  padding-left: 2vw !important;
  padding-right: 2vw !important;
  padding-top: 1vh !important;
  padding-bottom: 1vh !important;
}

.download-section {
  padding-left: 3vw;
  padding-top: 5vh;
}
