.twitter {
	background-color: #D9DADC;
}

.twitter .inside {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 6vh;
}

.twitter .inside h1 {
	color: #fff;
	letter-spacing: 1px;
	font-size: 26px;
	padding-left: 3vw;
}

.twitter-handle {
	color: #6F7173;
	font-size: 20px;
}


.twitter .inside h2 {
	margin-top: 0px;
	padding-left: 3vw;
	font-size: 26px;
	color: #BEBFC1;
	margin-bottom: 30px;
}

.twitter .inside h3 {
	padding-left: 3vw;
}

.twitter .inside td {
	padding: 0px
}

.cloud-col {
	width: 3vw;
	vertical-align: top;
	text-align: center;
}

.img-cloud {
	height: 16px;
}

.text-tweet {
	color: #19191B;
	font-size: 16px;
	font-weight: bold;
}

.go-tweet {
	color: #fff;
	font-weight:normal;
	font-size:14px;
}
