<section class="text-center">
  <h1>Visualización ¿Cómo Vamos Colombia?</h1>
</section>

  <section>
    <p>
      Pequeña descripción de qué es, qué hace, cómo funciona. Lorem ipsum dolor
      sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </section>

<section>
  <p class="main-label">
    Elige una ciudad:
  </p>
  <div class="col-xs-12 col-sm-4">
    <select class="form-control" name="" ng-model="main.firstSelectedOption.city" ng-options="option.name for option in main.data">
      <!-- <option>Bogotá</option> -->
    </select>
  </div>
  <div class="col-xs-12 col-sm-4">
    <select class="form-control" name="" ng-model="main.firstSelectedOption.category" ng-options="option.name for option in main.firstSelectedOption.city.categories">
      <!-- <option>Optimismo y bienestar</option> -->
    </select>
  </div>
  <div class="col-xs-12 col-sm-4">
    <select class="form-control" name="" ng-model="main.firstSelectedOption.indicator" ng-options="option.name for option in main.firstSelectedOption.category.indicators" ng-change="main.drawGraph()">
      <!-- <option>CV5 - Pensando en las ...</option> -->
    </select>
  </div>
</section>

<section>
  <p class="main-label">
    Compara con otra ciudad:
  </p>
  <div class="col-xs-12 col-sm-4">
    <select class="form-control" name="" ng-model="main.secondSelectedOption.city" ng-options="option.name for option in main.data">
      <!-- <option>Bogotá</option> -->
    </select>
  </div>
  <div class="col-xs-12 col-sm-4">
    <select class="form-control" name="" ng-model="main.secondSelectedOption.category" ng-options="option.name for option in main.secondSelectedOption.city.categories">
      <!-- <option>Optimismo y bienestar</option> -->
    </select>
  </div>
  <div class="col-xs-12 col-sm-4">
    <select class="form-control" name="" ng-model="main.secondSelectedOption.indicator" ng-options="option.name for option in main.secondSelectedOption.category.indicators" ng-change="main.drawGraph()">
      <!-- <option>CV5 - Pensando en las ...</option> -->
    </select>
  </div>
</section>

<section class="text-center">
  <!-- <h1>Nombre del indicador</h1> -->
  <highchart id="chart1" config="main.chartConfig" ng-show="main.showChart"></highchart>
</section>

<section>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3>Variable 1</h3>
      <d3-map></d3-map>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h3>Variable 2</h3>
      <d3-map></d3-map>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="poll_experience">
        <p>
          <strong>Some variable description.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="poll_experience">
        <p>
          <strong>Some poll description.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <ul>
          <li><span class="index">1.</span>Muy Mala</li>
          <li><span class="index">2.</span>Mala</li>
          <li><span class="index">3.</span>Regular</li>
          <li><span class="index">4.</span>Buena</li>
          <li><span class="index">5.</span>Muy buena</li>
        </ul>
      </div>
    </div>
  </div>
</section>
